COMPOSE_PROJECT_NAME=new-horizen

# L2 explorer
INTERNAL_NETWORK_SUBNET='10.10.40.0/24'
EXPLORER_NET_IP_ADDRESS='10.10.40.3'
EXPLORER_NET_UI_PORT=4000
ETHEREUM_JSONRPC_HTTP_URL=""

# NGINX config for RPC node
NGINX_DOMAIN=nh-l2-explorer.horizenlabs.io
NGINX_CERT=""
NGINX_CERT_KEY=""

# NH node config
NH_NODE_VERSION=latest
NH_NODE_TYPE="-rpc"
NH_NODE_NET_P2P_PORT=30333
NH_NODE_NET_RPC_WS_PORT=9944
NH_NODE_NET_PROMETHEUS_PORT=9615

NH_CONF_NAME="nh-node-cdk"
NH_CONF_BASE_PATH="/data/node"
NH_CONF_BOOTNODES="/ip4/IP_ADDRESS/tcp/${NH_NODE_NET_P2P_PORT}/p2p/PEER_ID,/ip4/IP_ADDRESS/tcp/${NH_NODE_NET_P2P_PORT}/p2p/PEER_ID"
NH_CONF_RPC_EXTERNAL=true
NH_CONF_RPC_METHODS=safe
NH_CONF_RPC_CORS=all
NH_CONF_CHAIN=test
NH_CONF_PROMETHEUS_EXTERNAL=true

# NH
NH_WS_URL="ws://nh-node:${NH_NODE_NET_RPC_WS_PORT}"
NH_RPC_URL="http://nh-node:${NH_NODE_NET_RPC_WS_PORT}"
NH_SEED_PHRASE=""

# General
ZKEVM_NODE_MTCLIENT_URI=""
ZKEVM_NODE_EXECUTOR_URI=""
ZKEVM_NODE_SEQUENCER_SENDER_ADDRESS=""
ZKEVM_NODE_AGGREGATOR_SENDER_ADDRESS=""